{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Upload
{% endblock %}

{% block 'head' %}
<script src="{% static 'django_multiple_chunk_upload/js/chunk_upload.js' %}"></script>
{% endblock %}

{% block 'body' %}
<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
      <a href="{% url 'perfil'%}">Voltar</a>
        <div class="col-md-6">
            <!-- Upload form header -->
            <h2 class="text-center mb-4">Upload de Arquivo</h2>

            <!-- Input group for name and file upload -->
            <div class="form-group text-center">
                <label for="nome" class="form-label">Nome do Arquivo</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" required>
            </div>
            
            <div class="input-group mb-3">
              
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Escolha o arquivo...</label>
                      <input class="input-group mb-3" type="file" id="file"  name="file" accept="image/png, image/jpeg, image/gif, image/webp, image/tiff, image/svg, video/mp4, video/webm" required>
                    </div>
                    
                
            </div>

                        <!-- Display messages -->
            <div id='message-upload' class="alert alert-primary text-center" role="alert" >
            </div>

            <!-- Progress bar -->
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" role="progressbar" 
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>

            <!-- Submit button -->
            <div class="text-center">
                <button class="btn btn-success btn-lg" id="upload-button" 
                    onclick="send_file(['file'], ['nome'], '{% url 'upload' %}', '{% url 'complete' %}', '{% url 'perfil' %}')">
                    Enviar Arquivo
                </button>
            </div>
            <br>
        </div>
    </div>
</div>



{% endblock %}
